<div class="container" style="background-color: aliceblue">

  <h1>Example of Hide or Show Left Column in Grid</h1>
  <h1>Example of How to Routing with a Parameter</h1>

  <div class="row">
    <div *ngIf="isShow == false" class="bg-info" style="width: 100px">
      <app-button></app-button>
    </div>

    <div class="col">
      <div>
        <p>Received the Id parameter {{Id}} from router.</p>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="isShow" (change)="onCheckboxChange($event)">
        <label class="form-check-label">
          Hide The Left Column
        </label>
      </div>
    </div>
  </div>
</div>
